/target/

\.classpath

\.project

\.settings/org\.eclipse\.core\.resources\.prefs

\.settings/org\.eclipse\.jdt\.core\.prefs

\.settings/org\.eclipse\.m2e\.core\.prefs

dependency-reduced-pom\.xml

monaco-example/node_modules/

monaco-example/lib/

src/test/resources/InsecureBank/lsp/

src/test/resources/CryptoAndroidApp/lsp/
