/target/

\.classpath

\.project

\.settings/org\.eclipse\.core\.resources\.prefs

\.settings/org\.eclipse\.jdt\.core\.prefs

\.settings/org\.eclipse\.m2e\.core\.prefs

dependency-reduced-pom\.xml

monaco-example/node_modules/

monaco-example/lib/

src/test/resources/InsecureBank/lsp/

src/test/resources/CryptoAndroidApp/lsp/

src/test/resources/InsecureBank/app/build/outputs/apk/debug/output\.json

src/test/resources/InsecureBank/app/build/outputs/logs/manifest-merger-debug-report\.txt

vscode/node_modules/

vscode/out

vscode/config

vscode/JCA_rules

vscode/crypto-lsp-demo.jar

vscode/crypto-lsp-demo-0.0.1.vsix

.vscode/

*.log

src/test/resources/InsecureBank/\.settings/org\.eclipse\.buildship\.core\.prefs

src/test/resources/InsecureBank/app/\.settings/org\.eclipse\.buildship\.core\.prefs

src/test/resources/DemoAllErrors/\.idea/workspace\.xml

src/test/resources/DemoProject/target/classes/META-INF/maven/DemoProject/DemoProject/pom\.properties

vscode/CogniCryptLSP-demo\.jar
